.containerMain {
  padding-top: 0;
  width: 100%;
  height: 100vh;
  background-color: #deeeea;
  /* overflow: hidden; */
  position: relative;
}

.con {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.containerLogin {
  width: 400px;
  height: 400px;
  padding: 30px 40px;
  /* border: 1px solid rgb(5, 77, 77); */
  text-align: center;
  font-weight: 500;
  background-image: linear-gradient(
    to right top,
    #0a7074,
    #007e7c,
    #008c81,
    #0a9a84,
    #25a885
  );
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.loginHeader {
  color: white;
  font-weight: 700;
  margin-top: 10px;
}

.form-group {
  width: 100%;

  position: relative;
}

.loginButton {
  width: 100%;
  height: 45px;
  margin-top: 20px;
  padding: 20px 0;
}

.errorMsg {
  margin-top: 20px;
  margin-bottom: 0;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  color: rgb(238, 255, 0);
}

.contactForm {
  margin-top: 20px;
}

.errorMsg-email-l {
  position: absolute;
  top: 35px;
  right: 20px;
  color: red;
  font-weight: 700;
}

.errorMsg-password {
  position: absolute;
  top: 35px;
  right: 20px;
  color: red;
  font-weight: 700;
}

.contactForm {
  margin-top: 10px;
}
