/* App */

html,
body,
#root,
.App {
  background-color: #deeeea;
}

.header {
  font-weight: bolder;
}

/* Nav Bar */

/* navbar logo */
.logo {
  font-size: 22px;
}

/* Homepage */
/* homepage background */
.splashImg {
  margin: 0;
  padding: 0;
  position: relative;
}

/* login container */

/* login button */

/* Search Patients */

/* search table header */
.headerCP {
  color: white;
  background-color: teal;
  text-align: center;
  border-radius: 10px;
}

/* search table header to round border*/
.head1 {
  border-radius: 8px 0 0 0;
}

.head2 {
  border-radius: 0 8px 0 0;
}

/* new patient button */
.newPatient {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #deeeea;
  padding-top: 0;
}

/* search table */
.searchContainer {
  margin-top: 4rem;
  background-color: #deeeea;
  padding-top: 0;
  margin: 3rem;
}

/* search table input container */
.searchInput {
  max-width: 80%;
  margin: 7rem auto 2rem auto;
  width: 100%;
  padding: auto;
}

/* search field */
input.searchBar {
  width: 300px;
  margin: 0;
}

/* table */
.tableSearch {
  width: 60%;
  margin: auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
}

table td {
  border: 1px solid black;
}

th,
tr,
td {
  padding: 15px;
  text-align: center;
}

/* Details Page */

/* details container */
.detailDisplay {
  padding: 4rem;
  margin: 3rem;
  border: 3px solid black;
  margin-top: 7rem;
  background-color: #39a6a3;
  color: black;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

/* header */
.detailsHeadTitle {
  font-weight: bold;
  color: white;
  text-shadow: black;
  margin: 5px, 0, 5px, 0;
  padding: 15px;
}

/* Update Button */
.updateButton {
  margin-bottom: 2rem;
}

.custom-modal-style {
  min-width: 950px;
  margin: 0, auto;
}

.formSections {
  font-weight: bold;
}

/* header content */
.detailsHeader {
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 2rem;
  font-weight: bold;
}

a.nav-link:hover {
  color: black;
}
a.nav-link {
  color: black;
}

/* details card */

.detailsBox {
  background-color: white;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 10px;
}

.detailsTitle {
  margin: 5px, 0, 5px, 0;
  padding: 15px;
  font-weight: bold;
  color: white;
}

/* Providers */

.tableSearch {
  width: 60%;
  margin: auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
}

.searchInputProv {
  max-width: 800px;

  width: 100%;
  padding: auto;
}

/* Super Admin */
.tableHeadSA {
  color: white;
  background-color: #4b0082;
  text-align: center;
  border-radius: 10px;
}
